<!-- Carousel -->
<div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="public/assets/book-library.jpg" class="d-block w-100 carousel-img" alt="library">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Background photo created by jcomp - <a href='https://www.freepik.com/photos/background'>www.freepik.com</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="public/assets/library-with-books.jpg" class="d-block w-100 carousel-img" alt="library">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Book photo created by ikaika - <a href='https://www.freepik.com/photos/book'>www.freepik.com</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="public/assets/book-library.jpg" class="d-block w-100 carousel-img" alt="library">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Background photo created by jcomp - <a href='https://www.freepik.com/photos/background'>www.freepik.com</a></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Main Content -->
<div class="bg-light">
  <div class="container my-4">
    <div class="row d-flex justify-content-center">
      <div class="col-md-11">
        <% if (msg.length !== 0) { %>
          <div class="alert alert-info fw-bold text-center" role="alert">
            <%= msg %>
          </div>
        <% } %>

        <!-- Popular Books -->
        <div class="card mb-3">
          <div class="card-body">
            <h2 class="display-6 fw-normal text-center mb-4">Popular Books</h2>
            <% if (typeof popularBooks !== 'undefined') { %>
              <div class="row slider mx-4">
                <% popularBooks.forEach(book => { %>
                  <div class="card">
                    <img src="<%= book._id.coverImagePath %>" alt="<%= book._id.title %>" id="img-pointer" class="card-img mt-2" data-bs-toggle="modal" data-bs-target="#popularBookDetailModal<%= book._id.id %>">
                    <div class="card-body p-2">
                      <p class="card-title mx-3 fw-bold" id="book_title" title="<%= book._id.title %>"><%= book._id.title %></p>
                      <% if (book._id.stock !== 0) { %>
                        <form class="cart d-grid mx-3" action="/cart" method="POST">
                          <% if (user) { %>
                            <input type="hidden" name="user_id" value="<%= user.id %>">
                          <% } %>
                          <input type="hidden" name="book_id" value="<%= book._id.id %>">
                          <input type="hidden" name="prev_url" value="/">
                          <button class="btn btn-outline-primary btn-sm" type="submit"><i class="bi bi-cart4"></i> Add to Cart</button>
                        </form>
                      <% } else { %>
                        <div class="d-grid text-center mx-3">
                          <button class="btn btn-outline-secondary btn-sm" type="button" disabled>Out of Stock</button>
                        </div>
                      <% } %>
                    </div>
                    <div class="card-footer text-center">
                      <small class="text-muted">Borrowed <%= book.count %> time(s)</small>
                    </div>
                  </div>
                <% }) %>
              </div>
            <% } else { %>
              <p class="text-center">Looks like there is nothing popular...</p>
            <% } %>
          </div>
        </div>

        <!-- Recently Added Books -->
        <div class="card m-0">
          <div class="card-body">
            <h2 class="display-6 fw-normal text-center my-4">Recently Added Books</h2>
            <% if (typeof recentBooks !== 'undefined') { %>
              <div class="row d-flex justify-content-center">
                <% recentBooks.forEach(book => { %>
                  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-3 my-2" style="width: 11.5rem;">
                    <div class="card">
                      <img src="<%= book.coverImagePath %>" id="img-pointer" class="card-img mt-2" alt="<%= book.title %>" data-bs-toggle="modal" data-bs-target="#recentBookDetailModal<%= book.id %>">
                      <div class="card-body">
                        <h5 class="card-title fs-6" id="book_title" title="<%= book.title %>"><%= book.title %></h5>
                        <% if (book.stock !== 0) { %>
                          <form class="cart d-grid mx-auto mb-0" action="/cart" method="POST">
                            <% if (user) { %>
                              <input type="hidden" name="user_id" value="<%= user.id %>">
                            <% } %>
                            <input type="hidden" name="book_id" value="<%= book.id %>">
                            <input type="hidden" name="prev_url" value="/">
                            <button class="btn btn-outline-primary btn-sm" type="submit"><i class="bi bi-cart4"></i> Add to Cart</button>
                          </form>
                        <% } else { %>
                          <div class="d-grid text-center">
                            <button class="btn btn-outline-secondary btn-sm" type="button" disabled>Out of Stock</button>
                          </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </div>
            <% } else { %>
              <p class="text-center">Looks like there are no book yet...</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Recently Added Book Detail Modal -->
<% recentBooks.forEach(book => { %>
  <div class="modal fade" id="recentBookDetailModal<%= book.id %>" tabindex="-1" aria-labelledby="bookDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookDetailModalLabel">Book Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <img src="<%= book.coverImagePath %>" class="img-fluid card-img">
                    </div>
                    <div class="col-md">
                        <ul class="list-group">
                            <li class="list-group-item"><h4><%= `${book.title} (${book.publish_year})` %></h4></li>
                            <li class="list-group-item"><strong>Stock : </strong> <%= book.stock %></li>
                            <li class="list-group-item"><strong>ISBN : </strong> <%= book.isbn %></li>
                            <li class="list-group-item"><strong>Author : </strong> <%= book.author %></li>
                            <li class="list-group-item"><strong>Page Count : </strong> <%= book.page_count %> pages</li>
                            <li class="list-group-item"><strong>Genre : </strong> <%= book.genre %></li>
                            <li class="list-group-item"><strong>Description : </strong> <br> <%= book.description %></li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
<% }) %>

<!-- Popular Book Detail Modal -->
<% popularBooks.forEach(book => { %>
  <div class="modal fade" id="popularBookDetailModal<%= book._id.id %>" tabindex="-1" aria-labelledby="bookDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookDetailModalLabel">Book Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <img src="<%= book._id.coverImagePath %>" class="img-fluid card-img">
                    </div>
                    <div class="col-md">
                        <ul class="list-group">
                            <li class="list-group-item"><h4><%= `${book._id.title} (${book._id.publish_year})` %></h4></li>
                            <li class="list-group-item"><strong>Stock : </strong> <%= book._id.stock %></li>
                            <li class="list-group-item"><strong>ISBN : </strong> <%= book._id.isbn %></li>
                            <li class="list-group-item"><strong>Author : </strong> <%= book._id.author %></li>
                            <li class="list-group-item"><strong>Page Count : </strong> <%= book._id.page_count %> pages</li>
                            <li class="list-group-item"><strong>Genre : </strong> <%= book._id.genre %></li>
                            <li class="list-group-item"><strong>Description : </strong> <br> <%= book._id.description %></li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
<% }) %>