<div class="container my-4">
  <% if (msg.length !== 0) { %>
    <div class="alert alert-info fw-bold text-center" role="alert">
      <%= msg %>
    </div>
  <% } %>
  <% if (books.length > 0) { %>
    <div class="row">
      <div class="display-4 text-center">Books by Genre</div>
      <div class="display-6 pb-5 text-center"><%= genreName %></div>
      <% books.forEach(book => { %>
        <div class="col-md-6">
          <div class="bg-light card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 d-flex justify-content-center my-2">
                  <img src="<%= book.coverImagePath %>" alt="<%= book.title %>" class="cover-img">
                </div>
                <div class="col-md-9 justify-content-center">
                  <p class="fs-5 fw-normal mb-0"><%= book.title %></p>
                  <p class="fs-6 fw-light mb-0">Created by <%= book.author %></p>
                  <p class="fs-6 fw-light">Genre: <%= book.genre %></p>
                  <% if (book.stock !== 0) { %>
                    <form class="d-grid gap-2 d-md-block" action="/cart" method="POST">
                      <% if (user) { %>
                        <input type="hidden" name="user_id" value="<%= user.id %>">
                      <% } %>
                      <input type="hidden" name="book_id" value="<%= book.id %>">
                      <input type="hidden" name="prev_url" value="<%= genreParam %>">
                      <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#bookDetailModal<%= book.id %>">More Info</button>
                      <button class="btn btn-outline-primary" type="submit">Add to Cart</button>
                    </form>
                  <% } else { %>
                    <div class="d-grid text-center">
                      <button class="btn btn-outline-info btn-sm mb-1" type="button" data-bs-toggle="modal" data-bs-target="#bookDetailModal<%= book.id %>">More Info</button>
                      <button class="btn btn-outline-secondary btn-sm" type="button" disabled>Out of Stock</button>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <p>No books with this genre...</p>
  <% } %>
</div>

<!-- Book Detail Modal -->
<% books.forEach(book => { %>
  <div class="modal fade" id="bookDetailModal<%= book.id %>" tabindex="-1" aria-labelledby="bookDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookDetailModalLabel">Book Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <img src="<%= book.coverImagePath %>" class="img-fluid">
                    </div>
                    <div class="col-md">
                        <ul class="list-group">
                            <li class="list-group-item"><h4><%= `${book.title} (${book.publish_year})` %></h4></li>
                            <li class="list-group-item"><strong>Stock : </strong> <%= book.stock %></li>
                            <li class="list-group-item"><strong>ISBN : </strong> <%= book.isbn %></li>
                            <li class="list-group-item"><strong>Author : </strong> <%= book.author %></li>
                            <li class="list-group-item"><strong>Page Count : </strong> <%= book.page_count %> pages</li>
                            <li class="list-group-item"><strong>Genre : </strong> <%= book.genre %></li>
                            <li class="list-group-item"><strong>Description : </strong> <br> <%= book.description %></li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
<% }) %>