<link rel="stylesheet" href="public/css/styles.css">

<h2 class="display-5 text-center mt-3 mb-3">All Books</h2>
<div class="container mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
      <% books.forEach(book => { %>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-3 my-2 d-flex mx-auto" style="width: 12rem;">
          <div class="card">
            <img src="<%= book.coverImagePath %>" class="card-img-top" alt="<%= book.title %>" width="150" height="200">
            <div class="card-body">
              <h5 class="card-title fs-6" id="book_title" title="<%= book.title %>"><%= book.title %></h5>
              <div class="d-grid d-md-block text-center">
                <button class="btn btn-outline-info btn-sm mb-1" type="button" data-bs-toggle="modal" data-bs-target="#bookDetailModal<%= book.id %>">Details</button>
                <a href="" class="btn btn-outline-success btn-sm mb-1" type="button">Borrow</a>
              </div>
              <form class="cart d-grid mx-auto" action="/cart" method="POST">
                <button class="btn btn-outline-primary btn-sm" type="submit">Add to Cart</button>
              </form>
            </div>
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  </div>
</div>

<% books.forEach(book => { %>
  <div class="modal fade" id="bookDetailModal<%= book.id %>" tabindex="-1" aria-labelledby="bookDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookDetailModalLabel">Book Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <img src="<%= book.coverImagePath %>" class="img-fluid">
                    </div>
                    <div class="col-md">
                        <ul class="list-group">
                            <li class="list-group-item"><h4><%= `${book.title} (${book.publish_year})` %></h4></li>
                            <li class="list-group-item"><strong>Stock : </strong> <%= book.stock %></li>
                            <li class="list-group-item"><strong>ISBN : </strong> <%= book.isbn %></li>
                            <li class="list-group-item"><strong>Author : </strong> <%= book.author %></li>
                            <li class="list-group-item"><strong>Page Count : </strong> <%= book.page_count %> pages</li>
                            <li class="list-group-item"><strong>Genre : </strong> <%= book.genre %></li>
                            <li class="list-group-item"><strong>Description : </strong> <br> <%= book.description %></li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
<% }) %>