<% if (url !== user.id) { %>
  <div class="display-5 text-center mt-3">Unauthorized Access</div>
<% } else { %>
  <div class="display-5 text-center mt-3 mb-4">Borrow History</div>
  <div class="container mb-4">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <% if(borrowHistory.length === 0) { %>
          <p class="text-center mb-0">No borrowed books yet.</p>
        <% } else { %>
          <% for( let i = 0; i < borrowHistory.length; i++ ) { %>
            <div class="bg-light card mb-3">
              <div class="card-body">
                <p>Borrow Date: <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(borrowHistory[i].borrow_date) %></p>
                <div class="row">
                  <div class="col-md-1">
                    <img src="<%= borrowHistory[i].borrowed_book.coverImagePath %>" alt="<%= borrowHistory[i].borrowed_book.title %>" width="50" height="70">
                  </div>
                  <div class="col-md-11">
                    <div><%= borrowHistory[i].borrowed_book.title %></div>
                    <div class="form-text">(Return Date: <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(borrowHistory[i].return_date) %>)</div>
                    <div class="form-text">Borrow Status: <%= borrowHistory[i].status %></div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
<% } %>